.container{
    display: flex;
    justify-content: center;  
    align-items: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid red;
    height: 200px;
    width: 400px;
    background-color: white;
    border: 1px solid wheat;
    border-radius: 30px;
    box-shadow: 10px 10px 20px 4px rgba(0,0,0,0.5);
}
input{
   border: 1px solid black;
   border-radius: 20px;
   padding: 10px;
   margin: 10px;
   background-color: rgb(230, 118, 118);
   color: rgb(0,255,0);
}

